$site-bg: #FFF;
$main-bg: #f2f2f2;
$btn: #66655d;
$btn-on: #FFF;
$btn-bg: transparent;
$btn-border: #dbdbdb;
$all: #f5532d;
$assigned: #2ec6c8;
$prospect: #9e77f4;
$client: #5ab0ee;
$listed: #2ec6c8;
$qualifying: #2ec6c8;
$escrow: #f5984e;
$closed: #d77fe9;
$link: #4e6777;
$link-on: #072b42;
$link-under: #f5532d;
$icon: #f5532d;

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

button:focus {
    outline:0 !important;
}

.btn {
    background-color: $btn-bg;
    border: 1px solid $btn-border;
    border-radius: 20px;
    color: $btn;
    width: 126px;
    height: 40px;
    &:hover, &.active {
        color: $btn-on;
    }
}

.btn-plain {
    font-size: 12px;
    width: 157px;
    &:hover, &.active {
        color: $btn;
    }
    i {
        color: $icon;
        font-size: 16px;
        margin-left: 5px;
    }
}

.btn-dropdown {
    position: relative;
    background-color: #FFF;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    width: 240px;
    &:hover {
        color: #000;
    }
    i { 
        position: absolute;
        right: 10px;
        top: 12px;
        color: $icon;
    }
}

.btn-all {
    border-color: $all;
    color: $all;
    &:hover, &.active {
        background-color: $all;
    }
}

.btn-prospect {
    border-color: $prospect;
    color: $prospect;
    &:hover, &.active {
        background-color: $prospect;
    }
}

.btn-client {
    border-color: $client;
    color: $client;
    &:hover, &.active {
        background-color: $client;
    }
}

.btn-listed {
    border-color: $listed;
    color: $listed;
    &:hover, &.active {
        background-color: $listed;
    }
}

.btn-qualifying {
    border-color: $qualifying;
    color: $qualifying;
    &:hover, &.active {
        background-color: $qualifying;
    }
}

.btn-escrow {
    border-color: $escrow;
    color: $escrow;
    &:hover, &.active {
        background-color: $escrow;
    }
}

.btn-closed {
    border-color: $closed;
    color: $closed;
    &:hover, &.active {
        background-color: $closed;
    }
}

.assigned {
    color: $assigned;
}

.prospect {
    color: $prospect;
}

.client {
    color: $client;
}

.escrow {
    color: $escrow;
}

.closed {
    color: $closed;
}

.badge {
    width: 60px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid $btn;
    font-size: 9px;
    text-align: center;
    padding: 5px 0px 0px 0px;
}

.badge-prospect {
    border-color: $prospect;
    color: $prospect;
}

.badge-client {
    border-color: $client;
    color: $client;
}

.badge-listed {
    border-color: $listed;
    color: $listed;
}

.badge-qualifying {
    border-color: $qualifying;
    color: $qualifying;
}

.badge-escrow {
    border-color: $escrow;
    color: $escrow;
}

.badge-closed {
    border-color: $closed;
    color: $closed;
}

.octicon {
  color: $icon;
}

.top-nav {
    max-width: 1145px;
    margin: 0 auto;
    padding: 20px 0px;
}

.logo {
    width: 200px;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $main-bg;
}

.content {
    max-width: 1145px;
    min-height: 600px;
    margin: 0 auto;
    padding: 10px 0px;
}

.bottom {
    text-align: right;
}

.nav-link.active {
    color: $link-on;
    border-bottom: 1px solid $link-under;
}

.card {
    position: relative;
    min-width: 300px;
    max-width: 360px;
    height: 350px;
    margin: 10px;
    padding: 15px 0px;
    font-size: 13px;

    .card-row {
        padding: 12px 0px;
    }

    .card-bottom {
        .left {
            border-bottom: 1px solid $btn-border;
            border-right: 1px solid $btn-border;
            height: 50px;
            padding-top: 5px;
            margin-bottom: 20px;
            font-size: 12px;
            i {
                color: $icon;
                font-size: 16px;
            }
        }
        .right {
            border-bottom: 1px solid $btn-border;
            height: 50px;
            padding-top: 5px;
            margin-bottom: 20px;
            font-size: 12px;
            i {
                color: $icon;
                font-size: 16px;
            }
        }
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-top: 1px solid $btn-border;
        height: 130px;
        width: 100%;
    }

    .fa-ellipsis-v {
        font-size: 18px;
    }
    
    .p-t-half {
        padding-top: 0.5rem !important;
    }    
    
    .modal-header {
        border-bottom: none !important;
    }
    
    .modal-title {
        text-align: left;
        border-bottom: none;
    }
    
    .modal-dialog {
        width: 400px;
    }
    
    .modal-body {
        text-align: left;
    }
    
    .modal-body {
        padding-top: 0px !important;
    }
}

.b-b-1 {
    border-bottom: 1px solid $btn-border !important;
}

.b-b-h {
    border-bottom: 3px solid $btn-border $icon;
}

.b-y-1 {
    border-top: 1px solid $btn-border !important;
    border-bottom: 1px solid $btn-border !important;
}

.b-x-1 {
    border-left: 1px solid $btn-border !important;
    border-right: 1px solid $btn-border !important;
}

.search-box {
    width: 240px !important;
    margin: 0 auto;
    
    input {
        height: 38px;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
        border-right: 0px;
        font-size: 12px;
    }
    
    .input-group-addon {
        height: 34px;
        border-top-right-radius: 19px;
        border-bottom-right-radius: 19px;
        background-color: #FFF;
        
        i {
            color: $icon;
        }
    }
}